@model IList<ZooGuard.Core.Entities.Vender>
@{
    ViewData["Title"] = "GetAllVendersInDataBase"; @*Установление ключа Title для контроллера*@
}

<div class="text-center">
    <h3>Venders</h3>
</div>
 
<div class="form-group">
     <a class="nav-link text-dark" asp-area="" asp-controller="Vender" asp-action="GetFormAddVender"><input type="submit" value="Add Vender" class="btn btn-primary" /></a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Company</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Phone</th>
			<th>E-mail</th>
			<th>All positions</th>
			<th>Edit user</th>
            <th>Delete user</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ZooGuard.Core.Entities.Vender Vender  in Model) {
        <tr>
			<td><a href="~/Vender/Profile/@Vender.Id"/> <input type="submit" value="@Vender.Name" class="btn btn-primary" /></td>
			<td>@Vender.FirstNameRepresentative</td>
			<td>@Vender.LastNameRepresentative</td>
			<td>@Vender.PhoneRepresentative</td>
			<td>@Vender.EmailRepresentative</td>
			<td><input type="submit" value="all Positions" class="btn btn-primary" /></td>
			<td><a href="~/Vender/Edit/@Vender.Id"/><input type="submit" value="Edit" class="btn btn-primary"/></td>
			<td><a href="~/Vender/Delete/@Vender.Id"/><input type="submit" value="Delete" class="btn btn-primary" /></td>
		</tr>
        }
	</tbody>
</table>
