@model IList<ZooGuard.Core.Entities.Position>
@{
    ViewData["Title"] = "GetAllPositionsInDataBase"; @*Установление ключа Title для контроллера*@
}
<div class="text-center">
    <h3>Positions</h3>
</div>
 
<div class="form-group">
    <input type="submit" value="Add position" class="btn btn-primary" />
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Received</th>
			<th>Invoce</th>
			<th>ID</th>
			<th>Vender</th>
            <th>Freehold</th>
            <th>Person</th>
            <th>Label</th>
			<th>Storage</th>
			<th>Edit position</th>
            <th>Delete position</th>
		</tr>
	</thead>
	<tbody>
	@foreach (ZooGuard.Core.Entities.Position Position  in Model) {
        <tr>
			<td><a href="~/Position/Profile/@Position.Id"/><input type="submit" value="@Position.Name" class="btn btn-primary" /></td>
			<td>@Position.Date</td>
			<td>@Position.RegistrationDocument</td>
			<td>@Position.AccountingNumber</td>
			<td>@Position.Vender.Name</td>
			<td>@Position.FormOfOccurence.Name</td>
			<td><p>@Position.User.Name @Position.User.LastName</p></td>
			<td>@Position.StatusLabel.Name</td>
			<td>@Position.Storage.Name</td>
			<td><a href="~/Position/Edit/@Position.Id"/><input type="submit" value="Edit" class="btn btn-primary" /></td>
			<td><a href="~/Position/Delete/@Position.Id"/><input type="submit" value="Delete" class="btn btn-primary" /></td>
		</tr>
        }
	</tbody>
</table>
  