@model IList<ZooGuard.Core.Entities.Position>
@{
    ViewData["Title"] = "GetAllPositionsInDataBase"; @*Установление ключа Title для контроллера*@
}
<div class="text-center">
    <h3>Positions</h3>
</div>
 
<div class="form-group">
    <input type="submit" value="Add position" class="btn btn-primary" />
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Received</th>
			<th>Invoce</th>
			<th>ID number</th>
			<th>Vender</th>
            <th>Freehold</th>
            <th>Responsible person</th>
            <th>Status Label</th>
			<th>Storage</th>
			<th>Modifi position</th>
			<th>Edit position</th>
            <th>Delete position</th>
		</tr>
	</thead>
	<tbody>
	@* @foreach (ZooGuard.Core.Entities.Position allPositions  in Model) {
        <tr>
			<td>@allPositions.Name</td>
			<td>@allPositions.Date</td>
			<td>@allPositions.RegistrationDocument</td>
			<td>@allPositions.AccountingNumber</td>
			<td>@allPositions.Vender.Name</td>
			<td>@allPositions.FormOfOccurence.Name</td>
			<td><p>@allPositions.User.Name</p> <p>@allPositions.User.LastName</p></td>
			<td>@allPositions.StatusLabel.Name</td>
			<td>@allPositions.Storage.Name</td>
			<td><input type="submit" value="Modifi" class="btn btn-primary" /></td>
          <td><input type="submit" value="Edit" class="btn btn-primary" /></td>
          <td><input type="submit" value="Delete" class="btn btn-primary" /></td>
		</tr>
        }
	</tbody>*@
</table>
  