@model ZooGuard.Core.Entities.Position
@{
    ViewData["Title"] = "GetProfilePositionById";
}
<div class="text-center">
    <h3>@Model.Name</h3>
</div>

<div class="form-group">
    <table>
		<tr>
		<td><a href="~/Position/Edit/@Model.Id"/><input type="submit" value="Edit Position" class="btn btn-primary"/></td>
		<td><a href="~/Position/Delete/@Model.Id"/><input type="submit" value="Delete Position" class="btn btn-primary" /></td>
		</tr>
	</table>
	 
</div>
<table class="table">
	<thead>
		<tr>
		<th>Name:</th><td>@Model.Name</td>
		</tr>
		<tr>
		<th>Received:</th><td>@Model.Date</td>
		</tr>
		<tr>
		<th>Invoce:</th><td>@Model.RegistrationDocument</td>
		</tr>
		<tr>
		<th>ID:</th><td>@Model.AccountingNumber</td>
		</tr>
		<tr>
		<th>Vender:</th><td>@Model.Vender.Name</td>
		</tr>
		<tr>
		<th>Freehold:</th><td>@Model.FormOfOccurence.Name</td>
		</tr>
		<tr>
		<th>Person:</th><td><p>@Model.User.Name @Model.User.LastName</p></td>
		</tr>
		<tr>
		<th>Label:</th><td><p>@Model.StatusLabel.Name</p></td>
		</tr>
		<tr>
		<th>Storage:</th><td><p>@Model.Storage.Name</p></td>
		</tr>
		<tr>
		<th>Information:</th><td><p>@Model.Information</p></td>
		</tr>
	</thead>	
</table>