@model IList<ZooGuard.Core.Entities.User>
@{
    ViewData["Title"] = "GetAllUsersInDataBase"; @*Установление ключа Title для контроллера*@
}

<div class="text-center">
    <h3>Users</h3>
</div>
 
<div class="form-group">
    <input type="submit" value="Add User" class="btn btn-primary" />
</div>
<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Project</th>
            <th>Role</th>
            <th>Edit user</th>
            <th>Delete user</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ZooGuard.Core.Entities.User User  in Model) {
        <tr>
			<td>@User.Name</td>
			<td>@User.LastName</td>
			<td>@User.Email</td>
			<td>@User.Phone</td>
			<td>@User.Project</td>
                <td> @if(User.Members.Count() > 1 )
                    {
                        <div class="dropdown">
                        <p class="dropbtn"> Roles </p>
                        <div class="dropdown-content">
                            @foreach(string r in @User.Members.Select(p => p.Role.Name) ) {
                                <p>@r</p> 
                                }
                        </div>
                        </div>
                    } else{
                        <p>@User.Members.Single().Role.Name</p>
                    }
           </td>
          <td><input type="submit" value="Edit" class="btn btn-primary" /></td>
          <td><input type="submit" value="Delete" class="btn btn-primary" /></td>
		</tr>
        }
	</tbody>
</table>
        
