@model ZooGuard.Core.Entities.User
@{
    ViewData["Title"] = "GetProfileUserById";
}

<div class="text-center">
    <h3>@Model.Name @Model.LastName</h3>
</div>

<div class="form-group">
   <table>
		<tr>
			<td><a href="~/User/Edit/@Model.Id"/><input type="submit" value="Edit Position" class="btn btn-primary"/></td>
			<td><a href="~/User/Delete/@Model.Id"/><input type="submit" value="Delete Position" class="btn btn-primary" /></td>
		</tr>
	</table>
</div>
<table class="table">
	<thead>
		<tr>
		<th>First Name:</th><td>@Model.Name</td>
		</tr>
		<tr>
		<th>Last Name:</th><td>@Model.LastName</td>
		</tr>
		<tr>
		@if(@Model.Members.Count()>1)
		{
			<th>Roles</th>
			<td><div class="dropdown">
                        <p class="dropbtn"> Roles </p>
                        <div class="dropdown-content">
                            @foreach(var r in @Model.Members.Select(r => r.Role.Name)) {
								<p>@r</p> }
                        </div>
                        </div>
			</td>
		} 
		else 
		{
			<th>Role</th>
			<td>@Model.Members.Select(r => r.Role.Name).Single()</td>
		}
		</tr>
		<tr>
		<th>Project:</th><td>@Model.Project</td>
		</tr>
		<tr>
		<th>Phone:</th><td>@Model.Phone</td>
		</tr>
		<tr>
		<th>Email:</th><td>@Model.Email</td>
		</tr>
	</thead>	
</table>